.modal {
  width: 100%;

  h1 {
    padding: 2.5%;
    text-align: center;
  }
  h3 {
    padding-bottom: 2.5%;
  }
  mat-form-field {
    margin: 1%;
    width: 100%;
  }



  .example-margin {
    margin: 0 12px;
  }

  ul {
    list-style-type: none;
    margin-left: 24px;
  }

  .boton {
    padding: 2.5%;
    display: flex;
    justify-content: flex-end;
  }

}

