<div class="reset-password">
  <form [formGroup]="form">

    <div class="title">
      <h1>Recuperar Contraseña</h1>
    </div>

    <div *ngIf="error" class="error">
      {{ error }}
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Nueva Contraseña</mat-label>
      <input matInput placeholder="Contraseña Nueva" type="password" formControlName="password" required>
      <mat-error *ngIf="this.form.get('pasword')?.invalid">Contraseña Invalido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Repetir Nueva Contraseña</mat-label>
      <input matInput placeholder="Repetir Contraseña Nueva" type="password" formControlName="confirmarPassword"
        required>
      <mat-error *ngIf="this.form.get('confirmarPassword')?.invalid">Contraseña Invalida</mat-error>
    </mat-form-field>

    <div class="boton">
      <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="resetPassword(form.value)">Reset
        Password</button>
    </div>

    <div class="info">
      <h4>Si ya recuerdas tu contraseña logeate <a href="/login">aquí</a></h4>
    </div>
  </form>
</div>
